
footer {
  width: 100%;
  z-index: 1000;
  height: 76px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-bottom: 0;
  .address-column {
    font-size: 14px;
    margin-left: 17px;
    padding-top: 1px;
    line-height: 1.5;
    color: $dark-blue-text;
    width: 260px;
    float: left;
    .address {
      margin-top: 4px;
    }
  }
  .email-column {
    width: 302px;
    float: left;
    #mc_embed_signup {
      background-color: transparent;
      input.email {
        display: inline-block;
        padding: 8px 0;
        margin: 0 4% 10px 0;
        text-indent: 5px;
        width: 58%;
        min-width: 130px;
        max-width: 180px;
        float: left;
        clear: none;
        margin-bottom: 0;
      }
      input.button {
        display: inline-block;
        float: left;
        clear: none;
        background-color: $teal-text;
      }
      form {
        padding: 0;
      }
    }
    #mc_embed_signup_scroll {
      label {
        font-family: $font-serif;
        color: $dark-blue-text;
        font-size: 23px;
      }
    }
  }
  .social-column {
    text-align: center;
    a {
      display: inline-block;
      img {
        width: 50px;
        margin-top: 15px;
        margin-right: 9px;
      }
    }
  }
  .footer-column {
    width: 30%;
    margin-right: 20px;
    float: left;
  }
}

.home-container {
  & + footer {
    margin-top: -76px;
  }
}