header {
  position: relative;
  .header-image {
    display: inline-block;
  }
  .logo {
    width: 106px;
    margin-left: 7px;
  }
  .logo-text {
    margin-bottom: 30px;
    margin-left: 7px;
  }
  .header-illustration {
    width: 385px;
    position: absolute;
    right: 17px;
    top: 5px;
  }
  nav.site-nav {
    margin-top: 17px;
    ul {
      li {
        list-style: none;
        font-size: 19px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        font-weight: 600;
        margin: 0 29px;
      }
      li:first-of-type {
        margin-left: 58px;
      }
      li:last-of-type {
        margin-right: 0px;
      }
    }
  }
}