$home-transparent-grey: rgba(249, 249, 249, 0.8);
$font-serif: 'EB Garamond', serif;
$font-sans-serif: 'Open Sans', sans-serif;
$font-sans-serif-condensed: 'Open Sans Condensed', sans-serif;
$light-blue-text: #03719B;
$dark-blue-text: #1A779B;
$teal-text: #4c879b;
$box-border-radius: 20px;